.root > *
{
    -fx-background-color: black;
}
.vbox
{
    -fx-background-color: black;
}
.sp
{
    -fx-background-color: black;
}
.scroll-pane > .viewport {
    -fx-background-color: black;
}
.scroll-pane {
    -fx-background-color: black;
}
.separator{
    -fx-border-style: solid;
    -fx-background-color: #2748ae;
    -fx-border-width: 1px;

}
